@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");
*{
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}
.container{
    margin: 10px 400px;
    /* background-color:wheat; */
    backdrop-filter: blur(20px);

    padding: 30px;
}
.heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family:"Nunito", sans-serif;;
    padding-bottom: 40px;
    
    
}
.name,.email,.username,.password,.repeatpassword{
    margin-top: 30px;
    margin-bottom: 20px;
}
.labelname,.labelemail,.labelusername,.labelpassword,.labelrepeat{
    display: block;
    font-size: 25px;
    
    margin-bottom: 10px;
}
#inputname,#inputemail,#inputusername,#inputpassword,#repeatpassword{
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 4px;
    padding-left: 10px;
}
body{
    background-image: url("https://t4.ftcdn.net/jpg/05/25/11/11/240_F_525111169_c16k6AGCVLgdwwNKl6kkvsKzVNaOTCaM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.signup{
    margin-top: 40px ;
}
.button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    background-color: rgb(69, 114, 8);
    color: white;
}
.already{
    margin: 40px 140px;
}
.button:hover{
    background-color: grey;
}